In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [17]:
noteevents = pd.read_csv("/project/projectdirs/m1532/Projects_MVP/_datasets/mimiciii/NOTEEVENTS.csv")
diagnoses = pd.read_csv("/project/projectdirs/m1532/Projects_MVP/_datasets/mimiciii/DIAGNOSES_ICD.csv")
diagnoses_dict = pd.read_csv("/project/projectdirs/m1532/Projects_MVP/_datasets/mimiciii/D_ICD_DIAGNOSES.csv")
admissions = pd.read_csv("/project/projectdirs/m1532/Projects_MVP/_datasets/mimiciii/ADMISSIONS.csv")
patients = pd.read_csv("/project/projectdirs/m1532/Projects_MVP/_datasets/mimiciii/PATIENTS.csv")

/usr/common/software/python/3.7-anaconda-2019.10/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [18]:
def getIndex(startStr,iterations, addE = True):
    start = int(startStr)
    filtered_index = []
    index = []
    for x in range(iterations):
        if addE:
            filtered = diagnoses_dict["ICD9_CODE"].str.startswith("E"+startStr,na=False)
            start = start +1
            startStr = str(start)
        else:
            filtered = diagnoses_dict["ICD9_CODE"].str.startswith(startStr,na=False)
            start = start +1
            startStr = str(start)
        filtered_index = filtered[filtered].index
        index.append(filtered_index.tolist())
    return [inde for sublist in index for inde in sublist]
        
flat_filtered_list = []

#1.1
flat_filtered_list.append(getIndex("961",6, addE=True))
flat_filtered_list.append(getIndex("9680",10, addE=True))
flat_filtered_list.append(getIndex("967",10, addE=True))
flat_filtered_list.append(getIndex("990",100, addE=True))
flat_filtered_list.append(diagnoses_dict[diagnoses_dict["ICD9_CODE"].isin(["E9601","E969"])].index.tolist())



len(flat_filtered_list)

5

In [19]:
#1.2
flat_filtered_list.append(getIndex("630",50, addE=False))
len(flat_filtered_list)

6

In [20]:
#1.3
flat_filtered_list.append(getIndex("950",10, addE=True))
flat_filtered_list.append(getIndex("960",20, addE=False))
flat_filtered_list.append(getIndex("980",10, addE=True))
flat_filtered_list[-1]

[14294,
 14295,
 14296,
 14297,
 14298,
 14299,
 14300,
 14301,
 14302,
 14303,
 14304,
 14305,
 14306,
 14307,
 14308,
 14309,
 14310,
 14311,
 14312,
 14313,
 14314,
 14315,
 14316,
 14317,
 14318,
 14319,
 14320,
 14321,
 14322,
 14323,
 14324,
 14325,
 14326,
 14327,
 14328,
 14329,
 14330,
 14331,
 14332,
 14333,
 14495,
 14496,
 14497,
 14498,
 14499,
 14500]

In [21]:
#1.4
flat_filtered_list.append(getIndex("291",2, addE=False))
flat_filtered_list.append(getIndex("303",3, addE=False))
flat_filtered_list.append(getIndex("312",1, addE=False))
flat_filtered_list.append(getIndex("571",1, addE=False))
flat_filtered_list[-1]

[5280, 5281, 5796, 5797, 5798, 5799, 5800, 5801, 5802, 5803, 5804, 5805]

In [22]:
#1.5
flat_filtered_list.append(getIndex("327",1, addE=False))
flat_filtered_list.append(getIndex("338",2, addE=False))
flat_filtered_list.append(getIndex("346",1, addE=False))
flat_filtered_list.append(getIndex("295",4, addE=False))
flat_filtered_list.append(getIndex("300",3, addE=False))
flat_filtered_list.append(getIndex("307",1, addE=False))
flat_filtered_list.append(getIndex("309",3, addE=False))
flat_filtered_list.append(getIndex("313",1, addE=False))

flat_filtered_list[-1]

[3026, 3027, 3028, 3029, 3030, 3031, 3032, 3033, 3034, 3035, 3036]

In [23]:
#getting specific ICD9_CODEs
icd9_code = []
x=0
for sublist in flat_filtered_list:
    for val in sublist:
        x+=1
        icd9_code.append(str(diagnoses_dict.iloc[val]["ICD9_CODE"]))

print(icd9_code)

['E961', 'E9620', 'E9621', 'E9622', 'E9629', 'E963', 'E964', 'E9650', 'E9651', 'E9652', 'E9653', 'E9654', 'E9655', 'E9656', 'E9657', 'E9658', 'E9659', 'E966', 'E9680', 'E9681', 'E9682', 'E9683', 'E9684', 'E9685', 'E9686', 'E9687', 'E9688', 'E9689', 'E9670', 'E9671', 'E9672', 'E9673', 'E9674', 'E9675', 'E9676', 'E9677', 'E9678', 'E9679', 'E9680', 'E9681', 'E9682', 'E9683', 'E9684', 'E9685', 'E9686', 'E9687', 'E9688', 'E9689', 'E969', 'E970', 'E971', 'E972', 'E973', 'E974', 'E975', 'E976', 'E9900', 'E9901', 'E9902', 'E9903', 'E9909', 'E9910', 'E9911', 'E9912', 'E9913', 'E9914', 'E9915', 'E9916', 'E9917', 'E9918', 'E9919', 'E9920', 'E9921', 'E9922', 'E9923', 'E9928', 'E9929', 'E9930', 'E9931', 'E9932', 'E9933', 'E9934', 'E9935', 'E9936', 'E9937', 'E9938', 'E9939', 'E9940', 'E9941', 'E9942', 'E9943', 'E9948', 'E9949', 'E9950', 'E9951', 'E9952', 'E9953', 'E9954', 'E9958', 'E9959', 'E9960', 'E9961', 'E9962', 'E9963', 'E9968', 'E9969', 'E9970', 'E9971', 'E9972', 'E9973', 'E9978', 'E9979', 'E9988', 'E9989', 'E9980', 'E9981', 'E9990', 'E9991', 'E9601', 'E969', '630', '6310', '6318', '632', '63300', '63301', '63310', '63311', '63320', '63321', '63380', '63381', '63390', '63391', '63400', '63401', '63402', '63410', '63411', '63412', '63420', '63421', '63422', '63430', '63431', '63432', '63440', '63441', '63442', '63450', '63451', '63452', '63460', '63461', '63462', '63470', '63471', '63472', '63480', '63481', '63482', '63490', '63491', '63492', '63500', '63501', '63502', '63510', '63511', '63512', '63520', '63521', '63522', '63530', '63531', '63532', '63540', '63541', '63542', '63550', '63551', '63552', '63560', '63561', '63562', '63570', '63571', '63572', '63580', '63581', '63582', '63590', '63591', '63592', '63600', '63601', '63602', '63610', '63611', '63612', '63620', '63621', '63622', '63630', '63631', '63632', '63640', '63641', '63642', '63650', '63651', '63652', '63660', '63661', '63662', '63670', '63671', '63672', '63680', '63681', '63682', '63690', '63691', '63692', '63700', '63701', '63702', '63710', '63711', '63712', '63720', '63721', '63722', '63730', '63731', '63732', '63740', '63741', '63742', '63750', '63751', '63752', '63760', '63761', '63762', '63770', '63771', '63772', '63780', '63781', '63782', '63790', '63791', '63792', '6380', '6381', '6382', '6383', '6384', '6385', '6386', '6387', '6388', '6389', '6390', '6391', '6392', '6393', '6394', '6395', '6396', '6398', '6399', '64000', '64001', '64003', '64080', '64081', '64083', '64090', '64091', '64093', '64100', '64101', '64103', '64110', '64111', '64113', '64120', '64121', '64123', '64130', '64131', '64133', '64180', '64181', '64183', '64190', '64191', '64193', '64222', '64200', '64201', '64202', '64203', '64204', '64210', '64211', '64212', '64213', '64214', '64220', '64221', '64223', '64224', '64230', '64231', '64232', '64233', '64234', '64240', '64241', '64242', '64243', '64244', '64250', '64251', '64252', '64253', '64254', '64260', '64261', '64262', '64263', '64264', '64270', '64271', '64272', '64273', '64274', '64290', '64291', '64292', '64293', '64294', '64300', '64301', '64303', '64310', '64311', '64313', '64320', '64321', '64323', '64380', '64381', '64383', '64390', '64391', '64393', '64400', '64403', '64410', '64413', '64420', '64421', '64511', '64510', '64513', '64520', '64521', '64523', '64600', '64601', '64603', '64610', '64611', '64612', '64613', '64614', '64620', '64621', '64622', '64623', '64624', '64630', '64631', '64633', '64640', '64641', '64642', '64643', '64644', '64650', '64651', '64652', '64653', '64654', '64660', '64661', '64662', '64663', '64664', '64670', '64671', '64673', '64680', '64681', '64682', '64683', '64684', '64690', '64691', '64693', '64712', '64700', '64701', '64702', '64703', '64704', '64710', '64750', '64751', '64752', '64753', '64754', '64760', '64761', '64762', '64763', '64764', '64780', '64781', '64782', '64783', '64784', '64790', '64791', '64792', '64793', '64794', '64711', '64713', '64714', '64720', '64721', '64722', '64723', '64724', '64730', '64731', '64732', '64733', '64734', '64740', '64741', '64742', '64743', '64744', '64800', '64801', '64802', '64803', '64804', '64810', '64811', '64812', '64813', '64814', '64820', '64821', '64822', '64823', '64824', '64830', '64831', '64832', '64833', '64834', '64840', '64841', '64842', '64843', '64844', '64850', '64851', '64852', '64853', '64854', '64860', '64861', '64862', '64863', '64864', '64870', '64871', '64872', '64873', '64874', '64880', '64881', '64882', '64883', '64884', '64890', '64891', '64892', '64893', '64894', '64970', '64900', '64901', '64902', '64903', '64904', '64910', '64911', '64912', '64913', '64914', '64920', '64921', '64922', '64923', '64924', '64930', '64931', '64932', '64933', '64934', '64940', '64941', '64942', '64943', '64944', '64950', '64951', '64953', '64973', '64981', '64982', '64960', '64961', '64962', '64963', '64964', '64971', '650', '65100', '65101', '65103', '65110', '65111', '65113', '65120', '65121', '65123', '65130', '65131', '65133', '65140', '65141', '65143', '65150', '65151', '65153', '65160', '65161', '65163', '65170', '65171', '65173', '65180', '65181', '65183', '65190', '65191', '65193', '65200', '65201', '65203', '65210', '65211', '65213', '65220', '65221', '65223', '65230', '65231', '65233', '65240', '65241', '65243', '65250', '65251', '65253', '65260', '65261', '65263', '65270', '65271', '65273', '65280', '65281', '65283', '65290', '65291', '65293', '65300', '65301', '65303', '65310', '65311', '65313', '65320', '65321', '65323', '65330', '65331', '65333', '65340', '65341', '65343', '65350', '65351', '65353', '65360', '65361', '65363', '65370', '65371', '65373', '65380', '65381', '65383', '65390', '65391', '65393', '65400', '65401', '65402', '65403', '65404', '65410', '65411', '65412', '65413', '65414', '65420', '65421', '65423', '65430', '65431', '65432', '65433', '65434', '65440', '65441', '65442', '65443', '65444', '65450', '65451', '65452', '65453', '65454', '65460', '65461', '65462', '65463', '65464', '65470', '65471', '65472', '65473', '65474', '65480', '65481', '65482', '65483', '65484', '65490', '65491', '65492', '65493', '65494', '65500', '65501', '65503', '65510', '65511', '65513', '65520', '65521', '65523', '65530', '65531', '65533', '65540', '65541', '65543', '65550', '65551', '65553', '65560', '65561', '65563', '65570', '65571', '65573', '65580', '65581', '65583', '65590', '65591', '65593', '65600', '65601', '65603', '65610', '65611', '65613', '65620', '65621', '65623', '65630', '65631', '65633', '65640', '65641', '65643', '65650', '65651', '65653', '65660', '65661', '65663', '65670', '65671', '65673', '65680', '65681', '65683', '65690', '65691', '65693', '65700', '65701', '65703', '65800', '65801', '65803', '65810', '65811', '65813', '65820', '65890', '65891', '65893', '65821', '65823', '65830', '65831', '65833', '65840', '65841', '65843', '65880', '65881', '65883', '65900', '65901', '65903', '65910', '65911', '65913', '65920', '65921', '65923', '65930', '65931', '65933', '65940', '65941', '65943', '65950', '65951', '65953', '65960', '65961', '65963', '65970', '65971', '65973', '65980', '65981', '65983', '65990', '65991', '65993', '66000', '66001', '66003', '66010', '66011', '66013', '66020', '66021', '66023', '66030', '66031', '66033', '66040', '66041', '66043', '66050', '66051', '66053', '66060', '66061', '66063', '66070', '66071', '66073', '66080', '66081', '66083', '66090', '66091', '66093', '66100', '66101', '66103', '66110', '66111', '66113', '66120', '66121', '66123', '66130', '66131', '66133', '66140', '66141', '66143', '66190', '66191', '66193', '66200', '66201', '66203', '66210', '66211', '66213', '66220', '66221', '66223', '66230', '66231', '66233', '66300', '66301', '66303', '66310', '66311', '66313', '66320', '66321', '66323', '66330', '66331', '66333', '66340', '66341', '66343', '66350', '66351', '66353', '66360', '66361', '66363', '66380', '66381', '66383', '66390', '66391', '66393', '66400', '66401', '66404', '66410', '66411', '66414', '66420', '66421', '66424', '66430', '66431', '66434', '66440', '66441', '66444', '66450', '66451', '66454', '66460', '66461', '66464', '66480', '66481', '66484', '66490', '66491', '66494', '66500', '66501', '66503', '66510', '66511', '66520', '66522', '66524', '66530', '66531', '66534', '66540', '66541', '66544', '66550', '66551', '66554', '66560', '66561', '66564', '66570', '66571', '66572', '66574', '66580', '66581', '66582', '66583', '66584', '66590', '66591', '66592', '66593', '66594', '66600', '66602', '66604', '66610', '66612', '66614', '66620', '66622', '66624', '66630', '66632', '66634', '66710', '66712', '66714', '66700', '66702', '66704', '66800', '66801', '66802', '66803', '66804', '66810', '66811', '66812', '66813', '66814', '66820', '66821', '66822', '66823', '66824', '66880', '66881', '66882', '66883', '66884', '66890', '66891', '66892', '66893', '66894', '66923', '66900', '66901', '66902', '66903', '66904', '66910', '66911', '66912', '66913', '66914', '66920', '66921', '66922', '66924', '66930', '66932', '66934', '66940', '66941', '66942', '66943', '66944', '66950', '66951', '66960', '66961', '66970', '66971', '66980', '66981', '66982', '66983', '66984', '66990', '66991', '66992', '66993', '66994', '67000', '67002', '67004', '67010', '67012', '67014', '67020', '67022', '67024', '67030', '67032', '67034', '67080', '67082', '67084', '67113', '67114', '67120', '67121', '67111', '67112', '67122', '67123', '67124', '67130', '67131', '67133', '67140', '67142', '67144', '67150', '67151', '67152', '67153', '67154', '67180', '67181', '67182', '67183', '67184', '67190', '67191', '67192', '67193', '67194', '67100', '67101', '67102', '67103', '67104', '67110', '67200', '67202', '67204', '67381', '67382', '67383', '67384', '67324', '67330', '67331', '67332', '67333', '67334', '67380', '67300', '67301', '67302', '67303', '67304', '67310', '67311', '67312', '67313', '67314', '67320', '67321', '67322', '67323', '67400', '67401', '67402', '67403', '67404', '67410', '67412', '67414', '67420', '67422', '67424', '67430', '67432', '67434', '67440', '67442', '67444', '67450', '67451', '67452', '67453', '67454', '67480', '67482', '67484', '67490', '67492', '67494', '67523', '67524', '67580', '67500', '67501', '67502', '67503', '67504', '67510', '67511', '67512', '67513', '67514', '67520', '67521', '67522', '67581', '67582', '67583', '67584', '67590', '67591', '67592', '67593', '67594', '67682', '67683', '67684', '67690', '67691', '67692', '67693', '67694', '67680', '67681', '67600', '67601', '67602', '67603', '67604', '67610', '67611', '67612', '67613', '67614', '67620', '67621', '67622', '67623', '67624', '67630', '67631', '67632', '67633', '67634', '67640', '67641', '67642', '67643', '67644', '67650', '67651', '67652', '67653', '67654', '67660', '67661', '67662', '67663', '67664', '677', '67800', '67801', '67803', '67810', '67811', '67813', '67900', '67901', '67902', '67903', '67904', '67910', '67911', '67912', '67913', '67914', 'E9506', 'E9507', 'E9508', 'E9509', 'E9500', 'E9501', 'E9502', 'E9503', 'E9504', 'E9505', 'E9510', 'E9511', 'E9518', 'E9520', 'E9521', 'E9528', 'E9529', 'E9530', 'E9531', 'E9538', 'E9539', 'E954', 'E9550', 'E9551', 'E9552', 'E9553', 'E9554', 'E9555', 'E9556', 'E9557', 'E9559', 'E956', 'E9579', 'E9570', 'E9571', 'E9572', 'E9580', 'E9581', 'E9582', 'E9583', 'E9584', 'E9585', 'E9586', 'E9587', 'E9588', 'E9589', 'E959', '9601', '9602', '9603', '9604', '9605', '9606', '9607', '9608', '9609', '9600', '9610', '9611', '9612', '9613', '9614', '9615', '9616', '9617', '9618', '9619', '9620', '9621', '9622', '9623', '9624', '9625', '9626', '9627', '9628', '9629', '9630', '9631', '9632', '9633', '9634', '9635', '9638', '9639', '9640', '9641', '9642', '9643', '9644', '9645', '9646', '9647', '9648', '9649', '96500', '96501', '96502', '96509', '9651', '9654', '9655', '96561', '96569', '9657', '9658', '9659', '9660', '9661', '9662', '9663', '9664', '9670', '9671', '9672', '9673', '9674', '9675', '9676', '9678', '9679', '9680', '9681', '9682', '9683', '9684', '9685', '9686', '9687', '9689', '96904', '96905', '96909', '9691', '9692', '9693', '9694', '9695', '9696', '96970', '96971', '96972', '96973', '96979', '9698', '96900', '96901', '96902', '96903', '9699', '9700', '9701', '97081', '97089', '9709', '9711', '9712', '9713', '9719', '9710', '9720', '9721', '9722', '9723', '9724', '9725', '9726', '9727', '9728', '9729', '9730', '9731', '9732', '9733', '9734', '9735', '9736', '9738', '9739', '9740', '9741', '9742', '9743', '9744', '9745', '9746', '9747', '9755', '9756', '9757', '9758', '9750', '9751', '9752', '9753', '9754', '9760', '9761', '9762', '9763', '9764', '9765', '9766', '9767', '9768', '9769', '9770', '9771', '9772', '9773', '9774', '9778', '9779', '9780', '9781', '9782', '9783', '9784', '9785', '9786', '9788', '9789', '9790', '9791', '9792', '9793', '9794', '9795', '9796', '9797', '9799', 'E9800', 'E9801', 'E9802', 'E9803', 'E9804', 'E9805', 'E9806', 'E9807', 'E9808', 'E9809', 'E9810', 'E9811', 'E9818', 'E9820', 'E9821', 'E9828', 'E9829', 'E9830', 'E9831', 'E9838', 'E9839', 'E984', 'E9850', 'E9851', 'E9852', 'E9853', 'E9854', 'E9855', 'E9856', 'E9857', 'E986', 'E9870', 'E9871', 'E9872', 'E9879', 'E9880', 'E9881', 'E9882', 'E9883', 'E9884', 'E9885', 'E9886', 'E9887', 'E9888', 'E9889', 'E989', '2910', '2911', '2912', '2913', '2914', '2915', '29181', '29182', '29189', '2919', '2920', '29211', '29212', '2922', '29281', '29282', '29283', '29284', '29285', '29289', '2929', '30300', '30301', '30302', '30303', '30390', '30391', '30392', '30393', '30400', '30401', '30402', '30403', '30410', '30411', '30412', '30413', '30420', '30421', '30422', '30423', '30430', '30431', '30432', '30433', '30440', '30441', '30442', '30443', '30450', '30451', '30452', '30453', '30460', '30461', '30462', '30463', '30470', '30471', '30472', '30473', '30480', '30481', '30482', '30483', '30490', '30491', '30492', '30493', '30500', '30501', '30502', '30503', '3051', '30520', '30521', '30522', '30523', '30530', '30531', '30532', '30533', '30540', '30541', '30542', '30543', '30550', '30551', '30552', '30553', '30560', '30561', '30562', '30563', '30570', '30571', '30572', '30573', '30580', '30581', '30582', '30583', '30590', '30591', '30592', '30593', '31200', '31201', '31202', '31203', '31210', '31211', '31212', '31213', '31220', '31221', '31222', '31223', '31230', '31231', '31232', '31233', '31234', '31235', '31239', '3124', '31281', '31282', '31289', '3129', '5710', '5711', '5712', '5713', '57140', '57141', '57142', '57149', '5715', '5716', '5718', '5719', '32700', '32701', '32702', '32709', '32710', '32711', '32712', '32713', '32714', '32715', '32719', '32720', '32721', '32722', '32723', '32724', '32725', '32726', '32727', '32729', '32730', '32731', '32732', '32733', '32734', '32735', '32736', '32737', '32739', '32740', '32741', '32742', '32743', '32744', '32749', '32751', '32752', '32753', '32759', '3278', '3380', '33811', '33812', '33818', '33819', '33821', '33822', '33828', '33829', '3383', '3384', '33900', '33901', '33902', '33903', '33904', '33905', '33909', '33910', '33911', '33912', '33920', '33921', '33922', '3393', '33941', '33942', '33943', '33944', '33981', '33982', '33983', '33984', '33985', '33989', '34600', '34601', '34602', '34603', '34610', '34611', '34612', '34613', '34620', '34621', '34622', '34623', '34630', '34631', '34632', '34633', '34640', '34641', '34642', '34643', '34650', '34651', '34652', '34653', '34660', '34661', '34662', '34663', '34670', '34671', '34672', '34673', '34680', '34681', '34682', '34683', '34690', '34691', '34692', '34693', '29500', '29501', '29502', '29503', '29504', '29505', '29510', '29511', '29512', '29513', '29514', '29515', '29520', '29521', '29522', '29523', '29524', '29525', '29530', '29531', '29532', '29533', '29534', '29535', '29540', '29541', '29542', '29543', '29544', '29545', '29550', '29551', '29552', '29553', '29554', '29555', '29560', '29561', '29562', '29563', '29564', '29565', '29570', '29571', '29572', '29573', '29574', '29575', '29580', '29581', '29582', '29583', '29584', '29585', '29590', '29591', '29592', '29593', '29594', '29595', '29634', '29635', '29636', '29640', '29641', '29642', '29643', '29644', '29645', '29646', '29650', '29651', '29652', '29653', '29654', '29655', '29656', '29660', '29661', '29662', '29663', '29664', '29665', '29666', '2967', '29680', '29681', '29682', '29689', '29690', '29699', '29600', '29601', '29602', '29603', '29604', '29605', '29606', '29610', '29611', '29612', '29613', '29614', '29615', '29616', '29620', '29621', '29622', '29623', '29624', '29625', '29626', '29630', '29631', '29632', '29633', '2970', '2971', '2972', '2973', '2978', '2979', '2980', '2981', '2982', '2983', '2984', '2988', '2989', '30000', '30001', '30002', '30009', '30010', '30011', '30012', '30013', '30014', '30015', '30016', '30019', '30020', '30021', '30022', '30023', '30029', '3003', '3004', '3005', '3006', '3007', '30081', '30082', '30089', '3009', '3010', '30110', '30111', '30112', '30113', '30120', '30121', '30122', '3013', '3014', '30150', '30151', '30159', '3016', '3017', '30181', '30182', '30183', '30184', '30189', '3019', '30285', '3020', '3021', '3022', '3023', '3024', '30250', '30251', '30252', '30253', '3026', '30270', '30271', '30272', '30273', '30274', '30275', '30276', '30279', '30281', '30282', '30283', '30284', '30289', '3029', '3070', '3071', '30720', '30721', '30722', '30723', '3073', '30740', '30741', '30742', '30743', '30744', '30745', '30746', '30747', '30748', '30749', '30750', '30751', '30752', '30753', '30754', '30759', '3076', '3077', '30780', '30781', '30789', '3079', '3090', '3091', '30921', '30922', '30923', '30924', '30928', '30929', '3093', '3094', '30981', '30982', '30983', '30989', '3099', '3100', '3101', '3102', '31081', '31089', '3109', '311', '3130', '3131', '31321', '31322', '31323', '3133', '31381', '31382', '31383', '31389', '3139']

In [24]:
diagnoses_df = diagnoses[diagnoses["ICD9_CODE"].isin(icd9_code)]
diagnoses_df

        ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
22        1319         109   173633      9.0     32723
24        1321         109   173633     11.0     33829
41        1501         114   178393      6.0      3051
63        1523         117   140784      1.0      5715
74        1534         117   164853      3.0      5712
...        ...         ...      ...      ...       ...
651009  639765       97488   161999     10.0     29181
651017  639773       97488   161999     18.0      3051
651020  639776       97488   161999     21.0     30391
651024  639780       97492   189314      1.0     34680
651031  639787       97492   189314      8.0       311

[30926 rows x 5 columns]

In [25]:
#create 1 with addition of DOB, admittime, dischtime
addDOB = diagnoses_df.merge(patients[["SUBJECT_ID","DOB"]], on = "SUBJECT_ID")
final_df = addDOB.merge(admissions[["SUBJECT_ID","HADM_ID","ADMITTIME","DISCHTIME"]], on = ["SUBJECT_ID","HADM_ID"], how = "left")

final_df = final_df.drop_duplicates(subset = ["SUBJECT_ID","HADM_ID"]).drop("SEQ_NUM", axis=1)
final_df.to_pickle("final_df.pickle")

In [4]:
#while loading = 1
final_df = pd.read_pickle("pickles/final_df.pickle")

In [26]:
#while loading = 2
notes_df = noteevents[["SUBJECT_ID","HADM_ID","CHARTDATE","CHARTTIME","CATEGORY","TEXT"]]
notes_df = final_df[["HADM_ID","SUBJECT_ID","DOB"]].drop_duplicates().merge(notes_df, on=["SUBJECT_ID","HADM_ID"], how="right")

notes = noteevents[["SUBJECT_ID","HADM_ID","CHARTDATE","CHARTTIME","CATEGORY","TEXT"]]
notes_df = pd.merge(final_df[["SUBJECT_ID","HADM_ID","DOB"]],notes.drop_duplicates(subset = ["SUBJECT_ID","HADM_ID","CHARTDATE","CHARTTIME"]), on=["SUBJECT_ID","HADM_ID"], how = "left")
notes_df = notes_df.drop_duplicates(subset='TEXT')
notes_df

,SUBJECT_ID,HADM_ID,DOB,CHARTDATE,CHARTTIME,CATEGORY,TEXT
0,109,173633,2117-08-07 00:00:00,2141-12-14,NaN,Discharge summary,Admission Date: [**2141-12-8**] ...
1,109,173633,2117-08-07 00:00:00,2141-12-07,NaN,ECG,Sinus tachycardia. No significant change comp...
2,109,173633,2117-08-07 00:00:00,2141-12-11,NaN,ECG,Sinus rhythm with first degree A-V block. Q-T...
3,109,173633,2117-08-07 00:00:00,2141-12-08,NaN,ECG,Sinus rhythm. No significant change compared ...
4,109,173633,2117-08-07 00:00:00,2141-12-09,2141-12-09 03:12:00,Nursing,Ms [**Known lastname 406**] is a 24 year old w...
...,...,...,...,...,...,...,...
370137,97492,189314,2126-09-04 00:00:00,2158-08-01,2158-08-01 10:17:00,Rehab Services,TITLE:\nBEDSIDE SWALLOWING EVALUATION:\nHISTOR...
370138,97492,189314,2126-09-04 00:00:00,2158-08-01,2158-08-01 00:34:00,Physician,SICU\n HPI:\n 31 yo RH woman with a PMH de...
370139,97492,189314,2126-09-04 00:00:00,2158-08-01,2158-08-01 10:43:00,Radiology,[**2158-8-1**] 10:43 AM\n MR HEAD W/O CONTRAST...
370140,97492,189314,2126-09-04 00:00:00,2158-07-31,2158-07-31 20:52:00,Radiology,[**2158-7-31**] 8:52 PM\n CTA HEAD W&W/O C & R...
370141,97492,189314,2126-09-04 00:00:00,2158-07-31,2158-07-31 20:54:00,Radiology,[**2158-7-31**] 8:54 PM\n CT HEAD W/O CONTRAST...

In [27]:
final_df.describe()

              ROW_ID    SUBJECT_ID        HADM_ID
count   17400.000000  17400.000000   17400.000000
mean   354063.750862  43463.657126  150011.170977
std    187887.469531  29942.677928   28880.720634
min        18.000000      4.000000  100003.000000
25%    195866.250000  17585.750000  124880.250000
50%    376292.500000  32594.000000  150361.500000
75%    516847.500000  69793.000000  174934.500000
max    651025.000000  99992.000000  199995.000000

In [28]:
notes_df.describe()

          SUBJECT_ID        HADM_ID
count  367101.000000  367101.000000
mean    40224.769469  149816.282247
std     29469.560491   28906.314246
min         4.000000  100003.000000
25%     15749.000000  125092.000000
50%     29664.000000  149397.000000
75%     65759.000000  175022.000000
max     99992.000000  199995.000000

In [29]:
print(len(final_df["SUBJECT_ID"].unique()))
print(len(notes_df["TEXT"].unique()))
print(len(final_df["HADM_ID"].unique()))
print(len(notes_df["HADM_ID"].unique()))

13952
367101
17400
17283

In [32]:
notes_df_text = notes_df["TEXT"]
import time
substrings = []
x=1

def create_accum():
   counts = {}
   def accum(text):
        try:
            for x in text.split():
                if x in counts:
                    counts[x] += 1
                else: 
                    counts[x] = 1
        except:
            pass
   def fetch_accum():
        return counts
  
   return accum, fetch_accum

def second_accum(unique_dict):
    counts = {}
    def accum(text):
        try:
            start=time.time()
            alr =[]
            for sub in text.split():
                if sub in counts:
                    if sub not in alr:
                        counts[sub] += 1
                        alr.append(sub)
                else:
                    counts[sub] = 1
                    alr.append(sub)
            end = time.time()
            if ((end-start)>0.2):
                print(end-start)
        except:
            pass
    def fetch():
        return counts
    
    return accum, fetch
                    
    
# overall occurennce
print("overall occurrence start")
full_count, fetch = create_accum()
notes_df_text.apply(full_count)
full_count_sub = fetch()
print("overall occurrence end")


#notes occurrence
print("notes occurrence start")
notes_count, fetch = second_accum(full_count_sub)
notes_df_text.apply(notes_count)
notes_count_sub = fetch()
print("notes_occurrence end")

overall occurrence start
overall occurrence end
notes occurrence start
notes_occurrence end

In [33]:
len(notes_count_sub)

1549389

In [34]:
def third_accum():
    counts = {}
    
    biglistcounter = []
    def accum(subject):
        ind=0
        for subjectID in subject:
            start = time.time()
            tracker = []

            notes_text = notes_df[notes_df["SUBJECT_ID"]==subjectID]["TEXT"]
            for text in notes_text:
                try:
                    
                    for sub in text.split():
                        if (sub in counts):
                            if (sub not in tracker):
                                counts[sub]+=1
                                tracker.append(sub)
                        else:
                            counts[sub] = 1
                            tracker.append(sub)
                except:
                    pass
            end = time.time()
            ind+=1
            if(ind%1000==0):
                print((end-start)*(13952-ind)/3600)
    def fetch():
        return counts
    
    return accum, fetch

print("patients occurrence start")
dataf = notes_df["SUBJECT_ID"].unique()
print(dataf)
patient_count, fetch = third_accum()
patient_count(dataf)
patient_count_sub = fetch()
print(len(patient_count_sub))

patients occurrence start
[  109   114   117 ... 97476 97488 97492]
0.185423952738444
0.07051203727722168
0.014236626095241971
0.1793647723727756
0.20893659750620525
0.044881853527492944
0.04501363542344835
0.05823379516601562
1.0632414791319105
0.3981498506334093
0.12436899185180664
0.003957909478081598
0.013541360961066352
1549389

In [35]:
import pickle
with open('firstaccumDOD.pickle', 'wb') as f:
    pickle.dump(full_count_sub, f)
with open('secondaccumDOD.pickle', 'wb') as f:
    pickle.dump(notes_count_sub, f)

In [36]:
#for some reason patient_count_sub did not register 80 words
notin = []
for sub in full_count_sub:
    if sub not in patient_count_sub:
        notin.append(sub)
dictappend = {}
for x in notin:
    try:
        dictappend[x] = len(notes_df[notes_df["TEXT"].str.contains(str(x), na=False, regex=False)]["SUBJECT_ID"].unique())
    except Exception as e:
        print(str(e) , x)
    

patient_count_sub_mod = {}
for key in full_count_sub:
    if key in patient_count_sub:
        patient_count_sub_mod[key] = patient_count_sub[key]
    else:
        patient_count_sub_mod[key] = dictappend[key]
len(patient_count_sub_mod)
with open('thirdaccumDOD.pickle', 'wb') as f:
    pickle.dump(patient_count_sub_mod, f)

In [22]:
print(len(full_count_sub),len(notes_count_sub),len(patient_count_sub_mod))

1549389 1549389 1549389

In [6]:
#while loading = 3
import pickle

with open('pickles/firstaccumDOD.pickle',"rb") as f:
    full_count_sub = pickle.load(f)
with open('pickles/secondaccumDOD.pickle',"rb") as f:
    notes_count_sub = pickle.load(f)
with open('pickles/thirdaccumDOD.pickle',"rb") as f:
    patient_count_sub_mod = pickle.load(f)

In [37]:
#general population count - comparison
import time
# overall occurennce

def create_accum():
   counts = {}
   def accum(text):
        try:
            for x in text.split():
                if x in counts:
                    counts[x] += 1
                else: 
                    counts[x] = 1
        except:
            pass
   def fetch_accum():
        return counts
  
   return accum, fetch_accum

def second_accum(unique_dict):
    counts = {}
    def accum(text):
        try:
            start=time.time()
            alr =[]
            for sub in text.split():
                if sub in counts:
                    if sub not in alr:
                        counts[sub] += 1
                        alr.append(sub)
                else:
                    counts[sub] = 1
                    alr.append(sub)
            end = time.time()
            if ((end-start)>0.2):
                print(end-start)
        except:
            pass
    def fetch():
        return counts
    
    return accum, fetch


print("overall occurrence start")
general_count, fetch = create_accum()
noteevents["TEXT"].apply(general_count)
general_count_sub = fetch()
print("overall occurrence end")

with open('firstaccumDODgen.pickle', 'wb') as f:
    pickle.dump(general_count_sub, f)


#notes occurrence
print("notes occurrence start")
general_notes_count, fetch = second_accum(full_count_sub)
noteevents["TEXT"].apply(general_notes_count)
general_notes_count_sub = fetch()
print("notes_occurrence end")

with open('secondaccumDODgen.pickle', 'wb') as f:
    pickle.dump(general_notes_count_sub, f)

def third_accum_all():
    counts = {}
    
    biglistcounter = []
    def accum(subject):
        indec = 1
        for subjectID in subject:
            start = time.time()
            tracker = []

            notes_text = noteevents[noteevents["SUBJECT_ID"]==subjectID]["TEXT"]
            for text in notes_text:
                try:
                    
                    for sub in text.split():
                        if (sub in counts):
                            if (sub not in tracker):
                                counts[sub]+=1
                                tracker.append(sub)
                        else:
                            counts[sub] = 1
                            tracker.append(sub)
                except:
                    pass
            end = time.time()
            indec+=1
            if indec%100000 ==0:
                print((end-start)*(46146-indec)/3600)
    def fetch():
        return counts
    
    return accum, fetch

print("patients occurrence start")
data = noteevents["SUBJECT_ID"].unique()
print(data)
general_patient_count, fetch = third_accum_all()
print("2nd")
general_patient_count(data)
print("3rd")
general_patient_count_sub = fetch()
print("4th")

with open('thirdaccumDODgen.pickle', 'wb') as f:
    pickle.dump(general_patient_count_sub, f)

overall occurrence start
overall occurrence end
notes occurrence start
notes_occurrence end
patients occurrence start
[22532 13702 26880 ... 31790 32151 31655]
2nd
3rd
4th

In [38]:
len(general_patient_count_sub)

3793238

In [7]:
#while loading = 4
with open('pickles/firstaccumDODgen.pickle',"rb") as f:
    general_count_sub = pickle.load(f)
with open('pickles/secondaccumDODgen.pickle',"rb") as f:
    general_notes_count_sub = pickle.load(f)
with open('pickles/thirdaccumDODgen.pickle',"rb") as f:
    general_patient_count_sub = pickle.load(f)

In [48]:
#while loading = 5
print(len(general_count_sub),len(general_patient_count_sub),len(general_notes_count_sub))
general_combined_dict = {"strings":list(general_count_sub.keys()),"Full_Count":list(general_count_sub.values()), "Notes_Count":list(general_notes_count_sub.values()),"Patient_Count":list(general_patient_count_sub.values())}
general_all_counts = pd.DataFrame(general_combined_dict)
general_all_counts.nlargest(20,'Full_Count')

3793238 3793238 3793238

     strings  Full_Count  Notes_Count  Patient_Count
54       and     9842245      1534841          46097
59        to     8672697      1507053          46110
52        of     7905694      1512234          45956
21       the     7212747      1125181          44531
26      with     6791111      1511060          46007
20        in     4663945      1328539          45778
113       is     4591384      1123977            173
188      for     4568735      1309888              7
1322       -     3975669       339617           3381
119       on     3885019      1134734          31775
139      was     2994880       550656          16789
13         a     2419113       699594          45198
148       at     2354460       925298           1737
38        no     2222746       986883          45725
486       No     2028390       911417          40205
240      The     1952231       520994            619
6341      AM     1903093       493383           1600
68        as     1843317       718264          43753
939       mL     1688722       185552            343
293      are     1533978       633165           3654

In [49]:
#while loading = 6
#DoD filtered - real
combined_dict = {"strings":list(full_count_sub.keys()),"Full_Count":list(full_count_sub.values()),"Notes_Count_Sub":list(notes_count_sub.values()),"Patient_Count_Sub":list(patient_count_sub_mod.values())}
all_counts = pd.DataFrame(combined_dict)
all_counts.head(20)

               strings  Full_Count  Notes_Count_Sub  Patient_Count_Sub
0            Admission       28856            25359              13597
1                Date:       35469            17796              13525
2      [**2141-12-8**]          51               20                  8
3            Discharge       94446            17898              13509
4     [**2141-12-14**]          40               14                  6
5                 Date       24909            21904              12895
6                   of     1779981           287888              13845
7               Birth:       16440            16429              12665
8       [**2117-8-7**]          37               30                  6
9                 Sex:       16442            16429              12668
10                   F       19444            15394               6175
11            Service:       17610            17590              13492
12            MEDICINE        9613             9334               7138
13          Allergies:       43253            42900              12055
14         Penicillins        6526             6497               1660
15                   /      372410            60289               8506
16            Percocet        3408             3024               1743
17  Attending:[**First       13870            13870              11069
18               Name3       25249            20897              11826
19                (LF)       35499            21250              11899

In [50]:
all_counts.nlargest(10,"Full_Count")[["strings","Full_Count"]]

    strings  Full_Count
61      and     2091574
71       to     1794816
6        of     1779981
72      the     1712929
49     with     1424280
43       is     1001571
66      for      988169
115      in      945057
89       on      801443
192       -      786137

In [51]:
all_counts.nsmallest(10,"Full_Count")[["strings","Full_Count"]]

                  strings  Full_Count
380               165/120           1
470          Amylase-347*           1
486           Folate-18.5           1
601        Abdomin/Pelvis           1
929               Prefer:           1
1034  by:[**2141-12-16**]           1
1121      [**2143-4-20**]           1
1156             182/102,           1
1175              800unit           1
1205      135-182/88-125.           1

In [52]:
all_counts.nlargest(10,"Notes_Count_Sub")[["strings","Notes_Count_Sub"]]

    strings  Notes_Count_Sub
6        of           287888
61      and           278113
49     with           277260
71       to           272161
66      for           245811
115      in           233387
72      the           231441
43       is           225319
89       on           202184
681      at           179336

In [53]:
all_counts.nsmallest(10,"Notes_Count_Sub")[["strings","Notes_Count_Sub"]]

                  strings  Notes_Count_Sub
380               165/120                1
470          Amylase-347*                1
486           Folate-18.5                1
533    [**2141-12-10**]):                1
543     [**2141-12-8**]):                1
601        Abdomin/Pelvis                1
929               Prefer:                1
1034  by:[**2141-12-16**]                1
1121      [**2143-4-20**]                1
1156             182/102,                1

In [54]:
all_counts.nlargest(10,"Patient_Count_Sub")[["strings","Patient_Count_Sub"]]

    strings  Patient_Count_Sub
61      and              13847
6        of              13845
71       to              13845
49     with              13843
72      the              13841
66      for              13838
115      in              13838
43       is              13828
89       on              13821
168      no              13814

In [55]:
all_counts.nsmallest(10,"Patient_Count_Sub")[["strings","Patient_Count_Sub"]]

                     strings  Patient_Count_Sub
133                 240/184,                  1
149              intropaste,                  1
217                CKD/ESRD:                  1
218                 Diagosed                  1
258        plasmapheresisis)                  1
267            ([**2139**]);                  1
271          ([**4-/2138**],                  1
273           [**9-/2140**])                  1
279  ([**2137**]-[**2140**])                  1
283           [**8-/2140**])                  1

In [56]:
#DoD
import math
def getTFIDF(total,column):
    tfidf_list = []
    for x in all_counts.index:
        start = time.time()
        row = all_counts.iloc[x]
        full_count = row["Full_Count"]
        count_number = row[column]
        tfidf = full_count * math.log(total/count_number)
        tfidf_list.append(tfidf)
        end = time.time()
        if ((x+1)%100000==0):
            print(x, end-start)
    return tfidf_list
print("notes")
notes_tfidf = getTFIDF(len(notes_df_text.index),"Notes_Count_Sub")
print("subjects")
subject_tfidf = getTFIDF(len(notes_df["SUBJECT_ID"].unique()), "Patient_Count_Sub")

notes
99999 0.0001857280731201172
199999 0.0001742839813232422
299999 0.0001800060272216797
399999 0.0002548694610595703
499999 0.00017786026000976562
599999 0.0001785755157470703
699999 0.00019097328186035156
799999 0.00017642974853515625
899999 0.00018596649169921875
999999 0.00018358230590820312
1099999 0.0002079010009765625
1199999 0.0002110004425048828
1299999 0.0002224445343017578
1399999 0.00019693374633789062
1499999 0.00018143653869628906
subjects
99999 0.00017571449279785156
199999 0.0001811981201171875
299999 0.00018334388732910156
399999 0.00017213821411132812
499999 0.0001881122589111328
599999 0.00018024444580078125
699999 0.00018215179443359375
799999 0.0002086162567138672
899999 0.00017976760864257812
999999 0.00019598007202148438
1099999 0.00021195411682128906
1199999 0.00020194053649902344
1299999 0.0003006458282470703
1399999 0.00019860267639160156
1499999 0.00021123886108398438

In [57]:
#general
print(len(general_all_counts.index))

def getTFIDF_general(total,column):
    tfidf_list = []
    for x in general_all_counts.index:
        start = time.time()
        row = general_all_counts.iloc[x]
        full_count = row["Full_Count"]
        count_number = row[column]
        tfidf = full_count * math.log(total/count_number)
        tfidf_list.append(tfidf)
        end = time.time()
        if ((x+1)%100000==0):
            print(x, end-start)
    return tfidf_list
general_notes_tfidf = getTFIDF_general(len(general_all_counts.index),"Notes_Count")
print("next")

3793238
99999 0.00020122528076171875
199999 0.00020742416381835938
299999 0.0001704692840576172
399999 0.00017118453979492188
499999 0.00017499923706054688
599999 0.00017023086547851562
699999 0.0001914501190185547
799999 0.00018596649169921875
899999 0.0002071857452392578
999999 0.000194549560546875
1099999 0.00020551681518554688
1199999 0.00022411346435546875
1299999 0.0001709461212158203
1399999 0.00021696090698242188
1499999 0.0001723766326904297
1599999 0.00018477439880371094
1699999 0.00020551681518554688
1799999 0.0002143383026123047
1899999 0.0001766681671142578
1999999 0.00017452239990234375
2099999 0.0001747608184814453
2199999 0.00017499923706054688
2299999 0.0001780986785888672
2399999 0.00018477439880371094
2499999 0.00019240379333496094
2599999 0.00019431114196777344
2699999 0.0002346038818359375
2799999 0.0002110004425048828
2899999 0.0001766681671142578
2999999 0.00017976760864257812
3099999 0.00018072128295898438
3199999 0.00017571449279785156
3299999 0.0001819133758544922
3399999 0.00018143653869628906
3499999 0.00018787384033203125
3599999 0.00018453598022460938
3699999 0.00018215179443359375
next

In [58]:
print("in")
general_patient_tfidf = getTFIDF_general(len(noteevents["SUBJECT_ID"].unique()),"Patient_Count")

in
99999 0.00019359588623046875
199999 0.0001804828643798828
299999 0.00021600723266601562
399999 0.00022459030151367188
499999 0.00019216537475585938
599999 0.0001838207244873047
699999 0.00018072128295898438
799999 0.00019121170043945312
899999 0.0001723766326904297
999999 0.00017118453979492188
1099999 0.0001785755157470703
1199999 0.00017309188842773438
1299999 0.0001823902130126953
1399999 0.00017118453979492188
1499999 0.00017142295837402344
1599999 0.00019049644470214844
1699999 0.00018286705017089844
1799999 0.0002205371856689453
1899999 0.000171661376953125
1999999 0.00017452239990234375
2099999 0.0001621246337890625
2199999 0.00019240379333496094
2299999 0.000362396240234375
2399999 0.0001628398895263672
2499999 0.00017142295837402344
2599999 0.00019669532775878906
2699999 0.00018978118896484375
2799999 0.0001697540283203125
2899999 0.00016999244689941406
2999999 0.0001628398895263672
3099999 0.0001766681671142578
3199999 0.00016164779663085938
3299999 0.00017142295837402344
3399999 0.0002052783966064453
3499999 0.00016117095947265625
3599999 0.0001995563507080078
3699999 0.00016164779663085938

In [59]:
#Dod


tfidf_df = pd.DataFrame({"strings":all_counts["strings"].copy(),"notesTFIDF":notes_tfidf,"patientTFIDF": subject_tfidf})

stop_words = ['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such','only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]
ind = 0
removed_words = tfidf_df[tfidf_df["strings"].str.lower().isin(stop_words)==True]

tfidf_df = tfidf_df[tfidf_df["strings"].str.lower().isin(stop_words)==False]
tfidf_df_bool = tfidf_df["strings"].str.contains(r'[A-Za-z0-9]+')
removed_words = pd.concat([tfidf_df[tfidf_df_bool == False], removed_words])
tfidf_df = tfidf_df[tfidf_df_bool]
print(removed_words)
print(len(tfidf_df.index))

        strings    notesTFIDF   patientTFIDF
15            /  6.727540e+05  181581.766465
25            &  1.787946e+05   24439.994127
42          **]  3.590725e+05    3311.049464
192           -  1.342721e+06   70992.131812
328           .  5.499147e+05   79430.886823
...         ...           ...            ...
1418119     noW  1.281339e+01       9.536113
1442955      iF  1.281339e+01       9.536113
1451054  Myself  1.281339e+01       9.536113
1473910      dO  1.281339e+01       9.536113
1488605      wE  1.281339e+01       9.536113

[1799 rows x 3 columns]
1547590

In [60]:
len(all_counts["strings"])-len(tfidf_df["strings"])

1799

In [61]:
tfidf_df.to_pickle("tfidf_df.pickle")

In [10]:
#while loading = 7
tfidf_df = pd.read_pickle('pickles/tfidf_df.pickle')

In [62]:
total_notes_tfidf = tfidf_df["notesTFIDF"].sum()
total_patient_tfidf = tfidf_df["patientTFIDF"].sum()
print(0.8*total_notes_tfidf,0.8*total_patient_tfidf)

300511150.9355052 142268433.75909033

In [63]:
def getactivation(total,column,start,stop):
    activation_notes = int()
    for x in range(start,stop):
        sums = tfidf_df.nlargest(x,column)[column].sum()
        if sums >= (0.8*total):
            activation_notes = x
            break
    return activation_notes

notes_act = getactivation(total_notes_tfidf,"notesTFIDF",39800,40000)
notes_act

39946

In [64]:
patient_act = getactivation(total_patient_tfidf,"patientTFIDF",89500,90000)
patient_act

89610

In [65]:
tfidf_df.nlargest(88000,"patientTFIDF")["patientTFIDF"].sum()

141905516.16084963

In [66]:
#general

tfidf_df_general = pd.DataFrame({"strings":general_all_counts["strings"].copy(),"notesTFIDF":general_notes_tfidf,"patientTFIDF": general_patient_tfidf})

removed_words_general = tfidf_df_general[tfidf_df_general["strings"].str.lower().isin(stop_words)==True]

tfidf_df_general = tfidf_df_general[tfidf_df_general["strings"].str.lower().isin(stop_words)==False]
tfidf_df_general_bool = tfidf_df_general["strings"].str.contains(r'[A-Za-z0-9]+')
removed_words_general = pd.concat([tfidf_df_general[tfidf_df_general_bool == False], removed_words_general])
tfidf_df_general = tfidf_df_general[tfidf_df_general_bool]
print(len(tfidf_df_general.index))
print(len(general_all_counts.index)-len(tfidf_df_general.index))

3790360
2878

In [67]:
tfidf_df_general

                 strings    notesTFIDF  patientTFIDF
0              Admission  3.960154e+05   7734.538159
1                  Date:  5.004676e+05  13941.094373
2        [**2151-7-16**]  2.007316e+03   1422.625298
3              Discharge  1.087182e+06  30807.322128
4         [**2151-8-4**]  5.487733e+02    366.480935
...                  ...           ...           ...
3793233     [**2114**].(  1.514873e+01     10.739566
3793234        plannned.  1.514873e+01     10.739566
3793235           +milia  1.514873e+01     10.739566
3793236       37-->Start  1.514873e+01     10.739566
3793237           29.7C,  1.514873e+01     10.739566

[3790360 rows x 3 columns]

In [68]:
tfidf_df_general.to_pickle("tfidf_df_general.pickle")

In [11]:
#while loading = 8
tfidf_df_general = pd.read_pickle('pickles/tfidf_df_general.pickle')

In [69]:
total_notes_tfidf_general = tfidf_df_general["notesTFIDF"].sum()
total_patient_tfidf_general = tfidf_df_general["patientTFIDF"].sum()
print(0.8*total_notes_tfidf_general,0.8*total_patient_tfidf_general)

1640795912.3207312 1462880301.1030436

In [70]:
def getactivation_general(total,column,start,stop):
    activation_notes = int()
    for x in range(start,stop):
        sums = tfidf_df_general.nlargest(x,column)[column].sum()
        if sums >= (0.8*total):
            activation_notes = x
            break
    return activation_notes
print("notes")
notes_act_general = getactivation_general(total_notes_tfidf_general,"notesTFIDF",35700,35800)
print(notes_act_general)
patient_act_general = getactivation_general(total_patient_tfidf_general,"patientTFIDF",26000,27000)
print(patient_act_general)

notes
35723
26622

In [71]:
notes_act_general

35723

In [72]:
tfidf_df_general.nlargest(35700,"notesTFIDF")["notesTFIDF"].sum()

1640672999.103658

In [73]:
#DoD

words_list_notes = tfidf_df.nlargest(notes_act,"notesTFIDF")
words_list_notes = words_list_notes[["strings","notesTFIDF"]]
notes_percentages = []
print("ehere")
totalfornotes = all_counts["Notes_Count_Sub"].sum()
for coun in all_counts["Notes_Count_Sub"]:
    notes_percentages.append(coun/totalfornotes*100)
print("here")
notes_pdf = pd.DataFrame({"strings":all_counts["strings"].copy(), "Percent":notes_percentages})
words_list_notes = words_list_notes.merge(notes_pdf)

print("p much done")
words_list_notes_50 = words_list_notes.iloc[0:50]
words_list_notes_50

ehere
here
p much done

         strings     notesTFIDF   Percent
0             mL  721288.849261  0.059009
1             mg  622418.030272  0.045819
2         Tablet  594890.967871  0.018041
3           Sig:  497055.795243  0.016334
4             PO  481798.360016  0.046009
5            (1)  436165.261866  0.033198
6          BLOOD  388561.166828  0.020202
7             Pt  373435.153615  0.117029
8           left  369760.252491  0.157988
9             PM  367138.596667  0.133130
10         right  358840.965478  0.153188
11          Name  354618.542375  0.170177
12       patient  353693.369462  0.096291
13           One  353609.515900  0.021223
14            no  342079.505186  0.236765
15         No(t)  339543.571691  0.010162
16            pt  337048.635269  0.101001
17            No  324193.689975  0.233228
18            CT  308816.664648  0.095426
19         mg/dL  303837.784794  0.039144
20         mEq/L  297008.772392  0.038934
21     Discharge  285316.458566  0.024358
22           not  283076.938655  0.146096
23         valve  271187.220828  0.026424
24       [**Last  270139.512380  0.116327
25          tube  254315.438567  0.102395
26        aortic  243498.026666  0.030843
27            IV  230640.355012  0.104656
28          pain  230314.658196  0.074259
29       Patient  229024.167247  0.077847
30           Not  227449.338321  0.025862
31           ICU  226942.289355  0.059675
32   ventricular  225454.828949  0.037584
33           s/p  224881.057114  0.116045
34  [**Hospital1  222051.649107  0.062581
35         given  219173.577579  0.092370
36          Lung  217783.413788  0.033672
37        normal  213722.955845  0.079581
38            w/  206725.655355  0.043406
39         chest  206632.192643  0.089774
40     Comments:  205227.014539  0.049422
41             2  202287.168105  0.084716
42             1  198920.936136  0.065386
43        Normal  198330.034981  0.043816
44         Plan:  196345.944837  0.082310
45   Assessment:  195892.248903  0.051538
46       Action:  195074.414867  0.048966
47     Response:  195030.364936  0.049674
48      evidence  192795.940993  0.079902
49         acute  192794.433537  0.088652

In [74]:
words_list_patient = tfidf_df.nlargest(patient_act,"patientTFIDF")
words_list_patient = words_list_patient[["strings","patientTFIDF"]]
patient_percentages = []
totalforpatient = all_counts["Patient_Count_Sub"].sum()
for coun in all_counts["Patient_Count_Sub"]:
    patient_percentages.append(coun/totalforpatient*100)
print("here")
patient_pdf = pd.DataFrame({"strings":all_counts["strings"].copy(), "Percent":patient_percentages})
words_list_patient = words_list_patient.merge(patient_pdf)
words_list_patient_50 = words_list_patient.iloc[0:50]
words_list_patient_50

here

         strings   patientTFIDF   Percent
0             mL  233243.868264  0.021237
1          mEq/L  165998.346756  0.010178
2          mg/dL  165807.097518  0.010557
3          No(t)  158620.876734  0.006868
4      Comments:  124784.702417  0.010380
5      Response:  118970.452587  0.010365
6        Action:  118311.762558  0.010358
7    Assessment:  115794.181496  0.011065
8        Sounds:  104654.893299  0.009529
9          cmH2O  104412.954385  0.005390
10         Total   87925.769186  0.012824
11        pulse:   86246.617189  0.007250
12           Not   81323.011740  0.014700
13          Lung   80863.905584  0.015565
14          tube   79483.929329  0.025820
15         Plan:   78813.663907  0.020546
16        mg/dL,   77279.855707  0.009612
17    Assessment   76291.371976  0.012745
18            Pt   73752.181773  0.031813
19  medications:   71934.637703  0.013840
20          K/uL   71663.900936  0.009958
21   assessment:   70607.020711  0.004466
22         trach   65519.630353  0.003022
23         SpO2:   64827.243827  0.008015
24        Airway   64597.378594  0.005124
25         valve   64500.780130  0.021060
26          PICC   62600.341718  0.010395
27            pt   62593.140551  0.031488
28          Cuff   62568.312998  0.004935
29   Respiratory   60234.237077  0.020512
30         Order   57958.279788  0.002013
31         Ideal   57505.246210  0.005143
32         woman   56068.627534  0.016703
33        Tablet   55950.398278  0.031005
34         BLOOD   55023.787953  0.026903
35           man   54784.475665  0.022773
36         liver   54134.726977  0.017122
37     breathing   54022.456576  0.016315
38          vent   53879.327393  0.012075
39          Sig:   53544.008515  0.029313
40      Continue   53052.962872  0.019961
41             C   52537.431527  0.020310
42          Data   52025.073350  0.010631
43        Sputum   51790.645386  0.007911
44        aortic   50838.126154  0.023691
45            w/   50707.003315  0.023271
46           ICU   50392.889357  0.026435
47         renal   50072.058747  0.017835
48            kg   49871.807670  0.009135
49           Day   48950.924216  0.006039

In [75]:
print(words_list_patient_50["strings"].tolist())

['mL', 'mEq/L', 'mg/dL', 'No(t)', 'Comments:', 'Response:', 'Action:', 'Assessment:', 'Sounds:', 'cmH2O', 'Total', 'pulse:', 'Not', 'Lung', 'tube', 'Plan:', 'mg/dL,', 'Assessment', 'Pt', 'medications:', 'K/uL', 'assessment:', 'trach', 'SpO2:', 'Airway', 'valve', 'PICC', 'pt', 'Cuff', 'Respiratory', 'Order', 'Ideal', 'woman', 'Tablet', 'BLOOD', 'man', 'liver', 'breathing', 'vent', 'Sig:', 'Continue', 'C', 'Data', 'Sputum', 'aortic', 'w/', 'ICU', 'renal', 'kg', 'Day']

In [76]:
print(words_list_notes_50["strings"].tolist())

['mL', 'mg', 'Tablet', 'Sig:', 'PO', '(1)', 'BLOOD', 'Pt', 'left', 'PM', 'right', 'Name', 'patient', 'One', 'no', 'No(t)', 'pt', 'No', 'CT', 'mg/dL', 'mEq/L', 'Discharge', 'not', 'valve', '[**Last', 'tube', 'aortic', 'IV', 'pain', 'Patient', 'Not', 'ICU', 'ventricular', 's/p', '[**Hospital1', 'given', 'Lung', 'normal', 'w/', 'chest', 'Comments:', '2', '1', 'Normal', 'Plan:', 'Assessment:', 'Action:', 'Response:', 'evidence', 'acute']

In [77]:
#general
words_list_notes_general = tfidf_df_general.nlargest(notes_act_general,"notesTFIDF")
words_list_notes_general = words_list_notes_general[["strings","notesTFIDF"]]
print(words_list_notes_general)
notes_percentages_general = []
print("ehere")
totalfornotes_general = general_all_counts["Notes_Count"].sum()
for coun in general_all_counts["Notes_Count"]:
    notes_percentages_general.append(coun/totalfornotes_general*100)
notes_pdf_general = pd.DataFrame({"strings":general_all_counts["strings"].copy(), "Percent":notes_percentages_general})
words_list_notes_general = words_list_notes_general.merge(notes_pdf_general)

print("p much done")
words_list_notes_50_general = words_list_notes_general.iloc[0:50]
words_list_notes_50_general

            strings    notesTFIDF
939              mL  5.095955e+06
38               no  2.992758e+06
486              No  2.892433e+06
2468             PM  2.835077e+06
22             left  2.805587e+06
...             ...           ...
41395    [**3-4**].  5.479935e+03
54808       HEARING  5.479935e+03
14878          (WBC  5.479074e+03
1207581        tnsf  5.478937e+03
230408     Q6H:PRN,  5.478799e+03

[35723 rows x 2 columns]
ehere
p much done

        strings    notesTFIDF   Percent
0            mL  5.095955e+06  0.053321
1            no  2.992758e+06  0.283595
2            No  2.892433e+06  0.261909
3            PM  2.835077e+06  0.130249
4          left  2.805587e+06  0.156982
5            mg  2.702998e+06  0.039541
6            Pt  2.648502e+06  0.110702
7          Name  2.645391e+06  0.184958
8         right  2.642388e+06  0.145411
9       patient  2.200833e+06  0.089346
10           pt  2.194198e+06  0.094701
11           CT  2.116187e+06  0.092902
12       Tablet  2.097299e+06  0.010025
13           PO  1.970247e+06  0.045402
14          not  1.953906e+06  0.143408
15        mg/dL  1.897874e+06  0.041473
16        mEq/L  1.897657e+06  0.041330
17      [**Last  1.816497e+06  0.124386
18        No(t)  1.805359e+06  0.009277
19         Sig:  1.742642e+06  0.009059
20          (1)  1.700598e+06  0.028648
21          s/p  1.605486e+06  0.113567
22           IV  1.600913e+06  0.107565
23        valve  1.532093e+06  0.024902
24        Plan:  1.526749e+06  0.089576
25         tube  1.510078e+06  0.083923
26  Assessment:  1.467159e+06  0.062286
27        given  1.462989e+06  0.096600
28    Response:  1.458069e+06  0.060618
29      Action:  1.457385e+06  0.060272
30          ICU  1.447048e+06  0.056510
31       aortic  1.426304e+06  0.030994
32  ventricular  1.397555e+06  0.044218
33          Not  1.394242e+06  0.025904
34           w/  1.387519e+06  0.050099
35     Continue  1.352855e+06  0.071214
36       normal  1.352846e+06  0.082123
37      Patient  1.346276e+06  0.068908
38        BLOOD  1.339329e+06  0.014659
39         pain  1.331019e+06  0.070243
40         (NI)  1.289269e+06  0.079437
41        chest  1.280771e+06  0.079826
42  [**Hospital  1.273852e+06  0.178023
43           24  1.270189e+06  0.066549
44            2  1.270100e+06  0.090669
45          One  1.262114e+06  0.016027
46        prior  1.257507e+06  0.094094
47        noted  1.238839e+06  0.100366
48      Reason:  1.228776e+06  0.155084
49       Number  1.220084e+06  0.151975

In [78]:
words_list_patient_general = tfidf_df_general.nlargest(patient_act_general,"patientTFIDF")
words_list_patient_general = words_list_patient_general[["strings","patientTFIDF"]]
patient_percentages_general = []
print("ehere")
totalforpatient_general = general_all_counts["Patient_Count"].sum()
for coun in general_all_counts["Patient_Count"]:
    patient_percentages_general.append(coun/totalforpatient_general*100)
print("here")
patient_pdf_general = pd.DataFrame({"strings":general_all_counts["strings"].copy(), "Percent":patient_percentages_general})
words_list_patient_general = words_list_patient_general.merge(patient_pdf_general)

print("p much done")
words_list_patient_50_general = words_list_patient_general.iloc[0:50]
words_list_patient_50_general

ehere
here
p much done

         strings  patientTFIDF       Percent
0             mL  8.277837e+06  3.001661e-04
1           Clip  5.983388e+06  8.751200e-07
2          Plan:  5.291093e+06  7.000960e-06
3        Action:  5.057327e+06  1.750240e-06
4         REASON  4.711700e+06  5.250720e-06
5             PM  4.612033e+06  1.274175e-03
6          small  4.226380e+06  5.250720e-06
7          mEq/L  4.133896e+06  3.237944e-05
8           2**]  4.062810e+06  8.751200e-07
9            Not  4.004075e+06  8.751200e-07
10   IMPRESSION:  3.900874e+06  6.125840e-06
11     Response:  3.775366e+06  2.275312e-05
12  [**Hospital1  3.644102e+06  7.000960e-06
13       remains  3.438264e+06  8.751200e-06
14   Assessment:  3.423665e+06  5.075696e-05
15   (Radiology)  3.282701e+06  1.583967e-04
16         Total  3.245074e+06  5.250720e-06
17         hours  3.056029e+06  8.751200e-07
18          post  3.051770e+06  1.750240e-06
19          Plan  3.008378e+06  8.751200e-07
20     Comments:  2.961858e+06  7.000960e-06
21        mg/dL,  2.948483e+06  8.751200e-07
22       [**Clip  2.797812e+06  3.579241e-04
23        Infant  2.698112e+06  8.751200e-07
24      evidence  2.668066e+06  1.120154e-04
25        noted.  2.636660e+06  8.751200e-07
26        REPORT  2.500206e+06  7.053467e-04
27     increased  2.433461e+06  7.351008e-05
28          Last  2.405459e+06  1.723986e-04
29      (STitle)  2.279890e+06  7.000960e-05
30          Lung  2.257145e+06  8.751200e-07
31           Hct  2.223622e+06  9.626320e-06
32          seen  2.204304e+06  1.592718e-04
33         right  2.194525e+06  7.579414e-03
34            NO  2.119249e+06  8.751200e-07
35      Continue  2.091289e+06  5.950816e-04
36          Cont  2.077140e+06  2.625360e-05
37         acute  2.066182e+06  5.285725e-04
38            IV  2.041063e+06  2.108164e-03
39   COMPARISON:  1.988516e+06  8.751200e-07
40      continue  1.969339e+06  2.625360e-04
41   Respiratory  1.869552e+06  4.568126e-04
42         Heart  1.803324e+06  7.000960e-06
43      received  1.800352e+06  4.375600e-06
44            pt  1.800336e+06  5.439746e-03
45           not  1.787475e+06  6.314866e-03
46         mg/dL  1.784053e+06  1.869256e-03
47            BS  1.772007e+06  8.751200e-07
48         level  1.753793e+06  8.751200e-07
49        atrial  1.740452e+06  1.750240e-06

In [79]:
print(words_list_patient_50_general["strings"].tolist())

['mL', 'Clip', 'Plan:', 'Action:', 'REASON', 'PM', 'small', 'mEq/L', '2**]', 'Not', 'IMPRESSION:', 'Response:', '[**Hospital1', 'remains', 'Assessment:', '(Radiology)', 'Total', 'hours', 'post', 'Plan', 'Comments:', 'mg/dL,', '[**Clip', 'Infant', 'evidence', 'noted.', 'REPORT', 'increased', 'Last', '(STitle)', 'Lung', 'Hct', 'seen', 'right', 'NO', 'Continue', 'Cont', 'acute', 'IV', 'COMPARISON:', 'continue', 'Respiratory', 'Heart', 'received', 'pt', 'not', 'mg/dL', 'BS', 'level', 'atrial']

In [80]:
print(words_list_notes_50_general["strings"].tolist())

['mL', 'no', 'No', 'PM', 'left', 'mg', 'Pt', 'Name', 'right', 'patient', 'pt', 'CT', 'Tablet', 'PO', 'not', 'mg/dL', 'mEq/L', '[**Last', 'No(t)', 'Sig:', '(1)', 's/p', 'IV', 'valve', 'Plan:', 'tube', 'Assessment:', 'given', 'Response:', 'Action:', 'ICU', 'aortic', 'ventricular', 'Not', 'w/', 'Continue', 'normal', 'Patient', 'BLOOD', 'pain', '(NI)', 'chest', '[**Hospital', '24', '2', 'One', 'prior', 'noted', 'Reason:', 'Number']

In [81]:
l = [words_list_patient_general,
words_list_notes_general,
words_list_patient,
words_list_notes]
for lists in l:
    print(len(lists))

26622
35723
89610
39946

In [82]:
tot_patient_general = words_list_patient_general["patientTFIDF"].sum()
tot_patient = words_list_patient["patientTFIDF"].sum()
patient_salience = {}
indasdf=0
for word in words_list_patient["strings"]:
    indasdf+=1
    dod = float(words_list_patient[words_list_patient["strings"]==word]["patientTFIDF"])
    gen = words_list_patient_general[words_list_patient_general["strings"]==word]
    if not gen.empty:
        gen = float(gen["patientTFIDF"])
        patient_salience[word] = dod/tot_patient-gen/tot_patient_general
    else:
        gen = 0
        patient_salience[word] = dod/tot_patient-gen/tot_patient_general

KeyboardInterrupt:

In [12]:
#while loading = 9
salience_notes = pd.read_pickle('pickles/salience_notes.pickle')
salience_patient = pd.read_pickle('pickles/salience_patient.pickle')
salience_notes.nlargest(20,'salience_values')

         strings  salience_values
2         Tablet         0.000701
3           Sig:         0.000592
6          BLOOD         0.000477
1             mg         0.000424
5            (1)         0.000415
13           One         0.000407
4             PO         0.000402
21     Discharge         0.000287
36          Lung         0.000240
60         DAILY         0.000210
66       Sounds:         0.000177
160     (Daily).         0.000161
222  assessment:         0.000151
107     History:         0.000141
274         Cuff         0.000139
232      Capsule         0.000138
94     breathing         0.000137
286       Airway         0.000123
54         daily         0.000118
324       portal         0.000118

In [83]:
salience_patient = pd.DataFrame({"strings":list(patient_salience.keys()),"salience_values":list(patient_salience.values())})
salience_patient

                             strings  salience_values
0                                 mL        -0.004019
1                              mEq/L        -0.001659
2                              mg/dL        -0.000054
3                              No(t)         0.000033
4                          Comments:        -0.001148
...                              ...              ...
87856                       -Lacunar         0.000002
87857                    Montaggeia,         0.000002
87858  Magma,CABGx2(SVG-OM,SVG-PDA),         0.000002
87859              [**2190-10-30**].         0.000002
87860                  Lipase:40/26,         0.000002

[87861 rows x 2 columns]

In [84]:
salience_patient.nlargest(50,'salience_values')

          strings  salience_values
8         Sounds:         0.000434
22          trach         0.000406
26           PICC         0.000388
24         Airway         0.000352
37      breathing         0.000302
43         Sputum         0.000285
49            Day         0.000250
36          liver         0.000250
51    ventilation         0.000245
107     intubated         0.000239
184          MICU         0.000218
121       status:         0.000218
170       failure         0.000216
93        Heparin         0.000195
120         Type:         0.000180
206          code         0.000179
91   Prophylaxis:         0.000178
60             PT         0.000174
134   respiratory         0.000168
225          COPD         0.000167
192         lasix         0.000164
14           tube         0.000164
139          TIPS         0.000162
314           TPN         0.000158
21    assessment:         0.000157
200       frontal         0.000156
150            GI         0.000154
87           Tube         0.000151
386           ETT         0.000147
387        sputum         0.000146
500           EGD         0.000145
388      cerebral         0.000144
147           RR:         0.000142
341           [x]         0.000141
187           LLL         0.000141
196           LUL         0.000137
117    transplant         0.000136
63     Nutrition:         0.000136
279   ventilatory         0.000134
395      Chloride         0.000133
260            CK         0.000133
179    hemorrhage         0.000131
350         mouth         0.000129
469      negative         0.000128
261   Ventilation         0.000126
320      bleeding         0.000125
278  Tracheostomy         0.000125
214           MRI         0.000124
442          100%         0.000124
109       Rhonchi         0.000123

In [85]:
tot_notes_general = words_list_notes_general["notesTFIDF"].sum()
tot_notes = words_list_notes["notesTFIDF"].sum()
notes_salience = {}
for word in words_list_notes["strings"]:
    dod = float(words_list_notes[words_list_notes["strings"]==word]["notesTFIDF"])
    gen = words_list_notes_general[words_list_notes_general["strings"]==word]
    if not gen.empty:
        gen = float(gen["notesTFIDF"])
        notes_salience[word] = dod/tot_notes-gen/tot_notes_general
    else:
        gen = 0
        notes_salience[word] = dod/tot_notes-gen/tot_notes_general

salience_notes = pd.DataFrame({"strings":list(notes_salience.keys()),"salience_values":list(notes_salience.values())})
salience_notes

                   strings  salience_values
0                       mL        -0.000706
1                       mg         0.000424
2                   Tablet         0.000701
3                     Sig:         0.000592
4                       PO         0.000402
...                    ...              ...
39941  finger-nose-finger,         0.000003
39942                 87%.         0.000003
39943          CALCIUM-9.1         0.000003
39944                   ~4        -0.000002
39945            ursodiol,         0.000003

[39946 rows x 2 columns]

In [86]:
salience_notes.nlargest(50,'salience_values')

            strings  salience_values
2            Tablet         0.000701
3              Sig:         0.000592
6             BLOOD         0.000477
1                mg         0.000424
5               (1)         0.000415
13              One         0.000407
4                PO         0.000402
21        Discharge         0.000287
36             Lung         0.000240
60            DAILY         0.000210
66          Sounds:         0.000177
160        (Daily).         0.000161
222     assessment:         0.000151
107        History:         0.000141
274            Cuff         0.000139
232         Capsule         0.000138
94        breathing         0.000137
286          Airway         0.000123
54            daily         0.000118
324          portal         0.000118
354           Ideal         0.000115
224         Release         0.000114
152          needed         0.000111
85            times         0.000107
283         Tablet,         0.000107
333          (every         0.000105
340           day).         0.000103
93            liver         0.000103
309   Instructions:         0.000102
694         alcohol         0.000101
295     ventilation         0.000100
319          Sputum         0.000098
532     intubation:         0.000097
607      Diminished         0.000095
294             BID         0.000095
263         hepatic         0.000093
277           Clear         0.000092
787         Rhonchi         0.000091
357         Delayed         0.000090
625         volume:         0.000090
370      Tablet(s)*         0.000089
371              (2         0.000087
861       cirrhosis         0.000083
924            ETOH         0.000083
487     Refills:*2*         0.000082
489     Refills:*0*         0.000081
999           abuse         0.000081
420             Two         0.000080
953            EtOH         0.000079
1205           TIPS         0.000075

In [ ]:
salience_patient.nlargest(300,'salience_values')["strings"].tolist()

In [87]:
salience_notes.to_pickle("salience_notes.pickle")
salience_patient.to_pickle("salience_patient.pickle")

In [14]:
check = noteevents[noteevents["TEXT"].str.contains('POD')]
check.iloc[0]["TEXT"]

'Admission Date:  [**2119-5-4**]              Discharge Date:   [**2119-5-25**]\n\n\nService: CARDIOTHORACIC\n\nAllergies:\nAmlodipine\n\nAttending:[**Last Name (NamePattern1) 1561**]\nChief Complaint:\n81 yo F smoker w/ COPD, severe TBM, s/p tracheobronchoplasty [**5-5**]\ns/p perc trach [**5-13**]\n\nMajor Surgical or Invasive Procedure:\nbronchoscopy 3/31,4/2,3,[**6-12**], [**5-17**], [**5-19**]\ns/p trachealplasty [**5-5**]\npercutaneous tracheostomy [**5-13**] after failed extubation\ndown size trach on [**5-25**] to size 6 cuffless\n\n\nHistory of Present Illness:\nThis 81 year old woman has a history of COPD. Over the past five\n\nyears she has had progressive difficulties with her breathing.\nIn\n[**2118-6-4**] she was admitted to [**Hospital1 18**] for respiratory failure\ndue\nto a COPD exacerbation. Due to persistent hypoxemia, she\nrequired\nintubation and a eventual bronchoscopy on [**2118-6-9**] revealed marked\n\nnarrowing of the airways on expiration consistent with\ntracheomalacia.\nShe subsequently underwent placement of two\nsilicone stents, one in the left main stem and one in the\ntrachea. During the admission the patient had complaints of\nchest\npain and ruled out for an MI. She was subsequently discharged to\n\n[**Hospital1 **] for physical and pulmonary rehab. Repeat bronchoscopy\non\n[**2118-8-1**] revealed granulation tissue at the distal right lateral\nwall of the tracheal stent. There was significant malacia of the\n\nperipheral and central airways with complete collapse of the\nairways on coughing and forced expiration. Small nodules were\nalso noted on the vocal cords. She has noticed improvement in\nher\nrespiratory status, but most recently has been in discussion\nwith Dr. [**First Name4 (NamePattern1) 951**] [**Last Name (NamePattern1) 952**] regarding possible tracheobronchial plasty\n\nwith mesh. Tracheal stents d/c [**2119-4-19**] in anticipation of\nsurgery.\nIn terms of symptoms, she describes many years of intermittent\nchest pain that she describes as left sided and occurring at any\n\ntime. Currently, she notices it about three times a week, and\nstates that it seems to resolve after three nitroglycerin.\nShe currently is dependent on oxygen and wears 1.5-2 liters\naround the clock. She has frequent coughing and brings up "dark\nsputum".\n\n\n\nPast Medical History:\nCOPD flare [**6-7**] s/p intubation, s/p distal tracheal to Left Main\nStem stents placed [**2118-6-9**]. Stents d/c\'d [**2119-4-19**], CAD w/ atypical\nangina (LAD 30%, RCA 30%, EF 63%), ^chol, hypothyroidism, htn,\nhiatal hernia, lacunar CVA, s/p ped struck -> head injury & rib\nfx, depression\nPMH:\nCOPD, s/p admit [**6-7**] for exacerbation requiring intubation\ntracheobronchomalacia, s/p bronchial stenting\nLarge hiatal hernia\nLacunar CVA\nHypothyroidism by records in CCC, although patient denies and is\n\nnot taking any medication\nDepression\nMVA, s/p head injury approximately 10 years ago\nHypertension\nHysterectomy\n\n\nSocial History:\nSocial History: The patient is married and worked as a clinical\npsychologist. Her husband is a pediatric neurologist at\n[**Hospital3 **]. They have several children, one of which is\n\na nurse.\n\n\nFamily History:\nFamily History: (+) FHx CAD; Father with an MI in his 40\'s, died\n\nof a CVA at age 59\n\n\nPhysical Exam:\nAdmit H+P\nGeneral-lovely 81 yr old feamle in NAD.\nNeuro- intermittently anxious, MAE, PERRLA, L eye ptosis,\nsymetrical smile, gossly intact.\nHEENT-PERRLA, sclera anicteric, pharynx- no exud or erythema\nResp-clear upper, diffuse ronchi, intermit exp wheezes\nCor- RRR, No M, R, G\nAbd- soft, NT, ND, no masses. Slight protrusion at area of\nhiatal hernia\nExt- no edema or clubbing\n\nBrief Hospital Course:\n82 y/o female admitted [**2119-5-4**] for consideration of\ntracheoplasty.\nBronchoscopy done [**5-4**] confirming severe TBM. Underwent\ntracheoplasty [**5-5**], complicated by resp failure d/t mucous\nplugging, hypoxia requiring re-intubation resulting in prolonged\nICU and hospital course. Also developed right upper extrem DVT\nfrom mid line.\n\nPain- Epidural accidently d/c\'d POD#1, pt briefly used dilaudid\nPCA intermittently w/ fair pain control. Pt required\nre-intubation for resp failure d/t secretions and PCA d/c at\nthat time. Propofol for sedation while intubated. Sedation d/c\'d\n[**5-12**] for weaning trial w/ ETT- failed trial. Trach [**5-13**]-weaning\nefforts as below. Minimal c/o pain since [**5-13**]. Presently pain\nfree.\n\nNeuro- Initially intact- post op aggitation, inhibiting weaning\nefforts [**5-16**]. Psych eval [**5-18**]-Started on zyprexa and ativan w/\nimprovement in anxiety. Presently A+Ox3- cooperative and lovely.\n\nResp- Extubated POD#2 then required re-intub  [**5-7**] for hypoxia\nd/t poor cough and mucous plugging. SIMV/PS alt w/CMV at night\nx4-5d, with CPAP attempts during day.\nBronchoscopy qd [**Date range (1) 1813**] for secretion management. Bronch [**5-9**]\nrevealed swollen epiglottis, bronch [**5-10**] - good leak w/ ETT cuff\ndeflated. Bronch [**5-13**] for eval/trach placement. Last bronch [**5-19**]\nw/ min secretions present, sputum sent.\n[**5-13**] perc trach done(#8 Portex- cuffed low pressure maintained to\npreserve tracheoplasty site). [**5-13**] CPAP15/peep5 initiated post\ntrach placement. Weaning ongoing.  [**Date range (1) 1814**]- Aggressive weaning\nw/ increasing episodes of CPAP, progressing to Trach Mask.\n[**2033-5-20**]-Trach mask overnight w/ no episodes of SOB, or\nhemodynamic instability. Trach changed to #6 portex- capped and\n[**Last Name (un) 1815**] well x48hrs on 2LNP. productive cough. Aggressive PT as\nwell w/ OOB > chair [**Hospital1 **]-tid to total 4-6hr qd. Ambulation\n~100-120 ft [**5-22**] w/ PT assist.\n\nID- Vancomycin started post-op for graft prophylaxis. Fever\nspike [**2119-5-8**] w/ BAl & sputum sent> + MRSA. Vanco cont to [**4-7**]\nweeks post trachealplasty. Fever low grade [**5-12**], [**5-15**]> cultured-\nno new results. [**5-19**]- WBC 20.8 .\n\nCardiac-Hypertension controlled w/ hydralazine IV, then d/c and\ncont controlled. HR 65-75 NSR. Avoiding B Blockers. Lasix 20mg\nIV qd.\n[**5-15**]- RUE redness and swelling at site of midline, RUE DVT by\nultrasound, midline d/c; heparin gtt started and therapeutic\nrange monitored. [**5-22**]  changed to Lovenox sq [**Hospital1 **]. Coags in good\ncontrol [**5-23**] (48.2/13.8/1.2)\nAccess- R midline placed [**2119-5-9**] for access- clotted [**2119-5-15**] and\nd/c\'d.  RUE redness and swelling and DVT via ultrasound. [**5-15**]- L\nbrachial PICC line placed- TPN resumed.\n\nGI-Large hiatal hernia- unable to place enteral feeding tube at\nbedside or underfluoro. Re-attempt [**5-17**] by EGD doboff tube\nplaced distal esophagus, dislodged in 12hours and removed.\n\nNutrition- PPN/TPN initiated [**2119-5-8**]- [**2119-5-25**]. PICC placed\n[**2119-5-15**]. Speech and Swallow eval [**5-22**]- rec change trach form #8\nto #6 Portex to allow improved epiglotis and oropharyngeal\nmovement to assist w/ swallowing. Then re-eval.  Trach changed\n[**5-23**] to #6 cuffless portex trach. Passed repeat swallow eval and\n[**Last Name (un) 1815**] diet of regular solids w/ thin liquids- CHIN TUCK to\nswallow thin liquids. Give meds whole w/ apple sauce. WOULD\nRECOMMEND repeat video swallow eval in [**8-17**] days to possibly\neliminate chin tuck- see page 3 referral.\n\nEndo- Hypothyroid, maintained on levoxyl.\n\nMuscu/Skel- OOB> chair 4-6hours/day, PT consulting.\n\n\nMedications on Admission:\nadvair 250/50", atrovent, imdur 60\', lasix 40\', lexapro 20\',\nlipitor 10\', prilosec 20\', mucinex 600", synthroid 75\', detrol\nLA 4\', ambien 5\', trazadone 75\', melatonin prn\n\nDischarge Medications:\n1. Albuterol Sulfate 0.083 % Solution Sig: One (1)  Inhalation\nQ6H (every 6 hours) as needed for wheezing.\n2. Ipratropium Bromide 0.02 % Solution Sig: One (1)  Inhalation\nQ6H (every 6 hours) as needed for wheezing.\n3. Fluticasone-Salmeterol 250-50 mcg/Dose Disk with Device Sig:\nOne (1) Disk with Device Inhalation [**Hospital1 **] (2 times a day).\n4. Albuterol 90 mcg/Actuation Aerosol Sig: 1-2 Puffs Inhalation\nQ6H (every 6 hours) as needed.\n5. Ipratropium Bromide 18 mcg/Actuation Aerosol Sig: Two (2)\nPuff Inhalation QID (4 times a day).\n6. Acetaminophen 325 mg Tablet Sig: 1-2 Tablets PO Q4-6H (every\n4 to 6 hours) as needed.\n7. Sodium Chloride 0.65 % Aerosol, Spray Sig: [**2-5**] Sprays Nasal\nQID (4 times a day) as needed.\n8. Camphor-Menthol 0.5-0.5 % Lotion Sig: One (1) Appl Topical\nTID (3 times a day) as needed.\n9. Enoxaparin Sodium 60 mg/0.6mL Syringe Sig: One (1)\nSubcutaneous Q12H (every 12 hours).\n10. Trazodone HCl 50 mg Tablet Sig: 1.5 Tablets PO HS (at\nbedtime) as needed.\n11. Escitalopram Oxalate 10 mg Tablet Sig: Two (2) Tablet PO\nDAILY (Daily).\n12. Nystatin 100,000 unit/g Cream Sig: One (1) Appl Topical  [**Hospital1 **]\n(2 times a day).\n13. Pantoprazole Sodium 40 mg Tablet, Delayed Release (E.C.)\nSig: One (1) Tablet, Delayed Release (E.C.) PO Q24H (every 24\nhours).\n14. Tolterodine Tartrate 2 mg Tablet Sig: One (1) Tablet PO BID\n(2 times a day).\n15. Levothyroxine Sodium 75 mcg Tablet Sig: One (1) Tablet PO\nDAILY (Daily).\n16. Heparin Lock Flush (Porcine) 100 unit/mL Syringe Sig: One\n(1) ML Intravenous  DAILY (Daily) as needed.\n\n\nDischarge Disposition:\nExtended Care\n\nFacility:\n[**Hospital3 7**] & Rehab Center - [**Hospital1 8**]\n\nDischarge Diagnosis:\nCOPD, Coronary Artery Disease/atypical angina (LAD 30%, RCA 30%,\nEF 63%), hypercholesterolemia, hypothyroidism, Hypertension,\nhiatal hernia, Cerebral Vascular Accident,s/p Motor Vehicle\nColision-> head injury & rib fracture.\nTBM- s/p tracheoplasty.\n\n\nDischarge Condition:\ngood\n\nDischarge Instructions:\nplease update Dr.[**Name (NI) 1816**] [**Telephone/Fax (1) 170**] office for:  fever,\nshortness of breath, chest pain , productive cough or if you\nhave any questions or concerns.\n\n\nCompleted by:[**2119-5-25**]'